<nav class="navbar navbar-expand-lg navbar-light" style="position: fixed; z-index: 2; width: 100%; background: transparent;">
    <a class="navbar-brand" href="/admin/accept"><img src="/images/logo.jpg" alt="" style="width: 50px; height: 50px; border-radius: 50%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active ">
                <a class="nav-link text-light" href="/admin/accept">Accept_Shops<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link text-light" href="/admin/showshops">Shops<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="/admin/showusers">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="/admin/showproducts">Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">User Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="/shope">Shope Home<span class="sr-only">(current)</span></a>
            </li>
           
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown  my-2 ">
                <button class="btn dropdown-toggle text-dark"
                    style="background: transparent; border-color: rgb(92, 92, 150);" type="button" id="dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                    {{user.name}}
                    {{else}}
                    Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if user}}
                    <a class="dropdown-item" href="/admin/logout">Logout</a>

                    {{else}}

                    <a class="dropdown-item" href="/admin">Login</a>
                    {{/if}}

                </div>
            </div>
        </form>
    </div>
</nav>