<div
    style="background-image: url('/background_image/Picsart_23-05-16_14-24-08-380-01\ \(1\).jpeg'); height: 968px; background-repeat: no-repeat; background-size: cover;">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="mt-5">
                   <div class="pt-5">
                    <img class="p-5 ml-5" src="/images/logo.jpg"
                        style="border-radius: 50%; width: 30%;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;"
                        alt="Logo">
                   </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 p-5">
               <div class="mt-5 p-5">
               
                <p class="pt-5 " style="font-family: serif; font-size: 30px;">
                   <b>
                    Welcome to our mobile shop website! We are thrilled to have you here. In this fast-paced digital
                    era, where mobile
                    phones have become an essential part of our lives, we understand the importance of finding the
                    perfect device that suits
                    your needs and preferences. Our website aims to provide you with a seamless and convenient shopping
                    experience for all
                    your mobile needs.
                   </b>
                </p>
               
               </div>
            </div>
        </div>
    </div>
</div>