<div class="container-fluid" style="background-color: blue;">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="mt-5">
                <a href="/shope/addpro" class="btn btn-success mt-5">Add Products</a>
            </div>
        </div>
    </div>
</div>