<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 p-5 text-center">
            <img src="/images/logo.jpg" alt="Web Logo" style="border-radius: 50%; height: 400px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"> <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ml-5 text-light" style="font-family: serif; font-size: 30px;">What is in it for you ?</p>
                <p class="text-light m-5" style="font-size: 20px; font-family: serif;">


                    Here is your opportunity to join a newly started website. We are looking for dynamic, focused,
                    dare-to-defy people who
                    are willing to ideate and build. With us, you get to experience a brave new world and build new
                    commerce together.

                    We are introducing a site which is called Easy Search that helps us to buy mobile phones. This site
                    shows us the price
                    of different phones in different shops in our locality.Different stores have different mobile prizes
                    and also some of
                    the stores dont have the mobiles that we seek.It provides the types of phones which are avilable
                    along with their prizes
                    of the different local mobile stores.
                </p>
                <p class="ml-5 text-light pt-3" style="font-family: serif; font-size: 30px;">About shop users</p>
                <p class="text-light m-5" style="font-size: 20px; font-family: serif;">
                    For mobile shop users this is a huge opportunity to get new customers in your locality. We easy
                    search helps you to
                    provide your mobiles and laptops stocks information</p>
            </div>
        </div>
    </div>
</div>