<div class="container-fluid" style=" height: 500px;">
    <div class="row">
        <div class="col-md-6 mt-5 p-5">
            <div class="slideshow-container m-5">

                <div class="mySlides fade">

                    <img src="/images/ultra.webp" style="width:100%">

                </div>

                <div class="mySlides fade">

                    <img src="/images/wp-1674295851074.webp" style="width:100%;height: 350px;">

                </div>

                <div class="mySlides fade">

                    <img src="/images/anhposterduoccholacuagalaxys23biroritaithitruongduc_1280x720-800-resize.jpg"
                        style="width:100%;height: 350px;">

                </div>

            </div>
            <br>

            <div style="text-align:center; display: none;">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>
        <div class="col-md-6 mt-5 p-3">
            <div class="mt-5 p-5">

                <h1 class="text-center text-light"><b>Galaxy S23 Ultra</b></h1>
                <h3 class="pt-4 text-light">Device &nbsp;&nbsp;: &nbsp;&nbsp;Galaxy S23 Ultra

                    From ₹6060.78/month for 24 months
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or
                    ₹124999.00</h3>

                <h3 class="pt-4 text-light">Storage &nbsp;&nbsp;: &nbsp;&nbsp;256GB｜12GB

                    ₹6060.78/month for 24 months or
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹124999.00
                </h3>
                <h3 class="pt-4 text-light">More Info &nbsp;&nbsp;:&nbsp;
                    <a href="https://www.samsung.com/in/smartphones/galaxy-s23-ultra/buy/?cid=in_pd_search_google_mx-mob-sm-gs-s23_sustenance_samsung-s23-q2-2023-sustenance_text_05may2023-na_1ur-451355l-keyword-cpc_na-657368892404-20075760621-152468972367-kwd-1187753456286-samsung%20s23%20ultra-e--g--&gclid=Cj0KCQjwpPKiBhDvARIsACn-gzA-mk1tDp25FbdIJJ4kDMi2DSm6sTZIzQpbmdUhT4GNFW0Xovm1yJIaAl4VEALw_wcB"
                        style="text-decoration: none;" class="text-light">Galaxy S23 Ultra.com</a>
                </h3>
            </div>
        </div>
    </div>
</div>

{{!-- 2nd Addd --}}

<div class="container-fluid" style=" height: 500px;" id="summa">
    <div class="row">
        <div class="col-md-6">
            <div class="mt-5 p-5">

                <h1 class="text-center text-light"><b>Macbook Pro 16" M1X</b></h1>
                <h3 class="pt-4 text-light">Device &nbsp;&nbsp;: &nbsp;&nbsp;Apple 2022 MacBook Air Laptop with M2 chip:
                    34.46 cm (13.6-inch) Liquid Retina Display,</h3>

                <h3 class="pt-4 text-light">Storage &nbsp;&nbsp;: &nbsp;&nbsp;8GB RAM, 512GB SSD Storage, Backlit
                    Keyboard, 1080p FaceTime HD Camera. Works with iPhone/iPad; Midnight</h3>
                <h3 class="pt-4 text-light">More Info &nbsp;&nbsp;:&nbsp;
                    <a href="https://www.apple.com/in/macbook-pro/" style="text-decoration: none;"
                        class="text-light">Macbook Pro.com</a>
                </h3>
            </div>
        </div>
        <div class="col-md-6 mt-5 p-5">



            <div class="w3-content w3-display-container">
                <img class="mySlide" src="/images/mac1.jpg" style="width:100%;height: 350px;">
                <img class="mySlide" src="/images/mac2.jpg" style="width:100%;height: 350px;">
                <img class="mySlide" src="/images/mac3.jpg" style="width:100%;height: 350px;">
                <img class="mySlide" src="/images/mac4.jpg" style="width:100%;height: 350px;">

                <button class="w3-button w3-black w3-display-left ml-2" style="border-radius: 20px;"
                    onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right mr-2" style="border-radius: 20px;"
                    onclick="plusDivs(1)">&#10095;</button>
            </div>

        </div>
    </div>
</div>
{{!-- 3rd boxx --}}
<div class="row">
    <div class="col-md-12">
        <div class="m-auto text-center p-5 mt-5" id="containe"
            style="width: 30%; height: 250px;background-image: linear-gradient(to left, #021025, #263652, #4c5f84, #758cb9, #a0bbf2); border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
            <h1 class="" style="ont-family: serif;"><b>Find Shops</b></h1>

            {{#if noshope}}
            <h4 class="text-center text-danger mt-2">{{noshope}} &#128531;</h4>
            {{/if}}
            <button class="btn btn-success mt-3" style="width: 50%;" id="btn"><b>Click Me</b></button>


        </div>
        <div class="mt-3" id="popup">
            <div class="popup-content">
                <form action="/findlocation" method="post" class="text-center">
                    <h3 class="text-right" id="close">✖</h3>
                    <h4 class="">Enter Your Location</h4>
                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1">Location</label>
                        <input type="text" name="location" class="form-control" id="exampleInputPassword1"
                            placeholder="Eg: Kayamkulam">
                    </div>

                    <button type="submit" class="btn btn-outline-primary" style="width: 50%;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5" style="border-radius: 20px; height: 400px; background: transparent;">
    <div class="col-md-4 mt-5 p-4">
        <div class="shope m-auto text-center p-4"
            style="width: 80%;height: 300px; background: transparent; border: solid; border-radius: 20px;box-shadow: rgba(73, 73, 98, 0.25) 0px 30px 60px -12px inset, rgba(144, 140, 140, 0.3) 0px 18px 36px -18px inset;">
            <i class='fas fa-shopping-cart text-light mt-2' style='font-size:66px'></i>
            <p class="mt-4 text-light" style="font-size: 20px;">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s</p>
        </div>
    </div>
    <div class="col-md-4 mt-5 p-4">
        <div class="about m-auto text-center p-4"
            style="width: 80%;height: 300px; background: transparent; border-radius: 20px; border: solid; box-shadow: rgba(101, 101, 105, 0.25) 0px 30px 60px -12px inset, rgba(138, 134, 134, 0.3) 0px 18px 36px -18px inset;">
            <i class="material-icons text-light" style="font-size:80px">&#xe56e;</i>
            <p class="text-center mt-4 text-light" style="font-size: 20px;">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s</p>
        </div>
    </div>
    <div class="col-md-4 mt-5 p-4">

        <div class="about m-auto text-center p-4"
            style="width: 80%;height: 300px; background: transparent; border-radius: 20px; border: solid; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
            <i class="material-icons text-light" style="font-size:80px">local_florist</i>
            <p class="text-center mt-4 text-light" style="font-size: 20px;">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center p-3">
        <p style="display: inline;" class="text-light">&copy; Copy right</p>
        <p style="display: inline;" class="ml-3 text-light">&reg; Registered</p> <br>
        <div class="text-right pr-3">
            <a class="text-light"
                href="https://mail.google.com/mail/u/0/#advanced-search/to=azad45518%40gmail.com&query=in%3Asent&isrefinement=true&todisplay=Azad+A+S">Developed
                by :Azad.A.S</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener("click", () => {


        document.querySelector('#popup').style.display = "flex"

    })
    document.getElementById('close').addEventListener("click", () => {
        document.querySelector('#popup').style.display = "none"
    })
</script>


<style>
    #container {

        text-align: center;
    }

    #btn:hover {
        background-color: white;
        color: black;
    }

    #popup {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        width: 400px;
        height: 300px;
        background-color: white;
        padding: 20px;
        margin-top: -100px;
        border-radius: 5px;
        position: relative;
    }

    * {
        box-sizing: border-box;
    }



    .mySlides {
        display: none;
    }

    img {
        vertical-align: middle;

        border-radius: 15px;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        height: 500px;
        position: relative;
        margin: auto;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color .6s ease;
    }



    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 4.8s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .text {
            font-size: 11px
        }
    }
</style>

<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>
<script>
    var Index = 1;
    showDivs(Index);

    function plusDivs(n) {
        showDivs(Index += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlide");
        if (n > x.length) { Index = 1 }
        if (n < 1) { Index = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[Index - 1].style.display = "block";
    }
</script>